.forecast-container {
	display: flex;
	margin: 0 auto 0 auto;
	/* width: 1100px; */
	/* width: 1500px; */
	/* border: solid 3px rgb(242, 244, 246); */
	color: white;
	text-shadow: 0px 0px 3px black;
	border-radius: 30px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
	justify-content: center;
}

.forecast-card {
	width: 300px;
	height: 250px;
	margin-right: 25px;
	border-radius: 30px;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	padding-top: 25px;
	text-shadow: 0 0 15px black;
	/* background-color: black; */
}

.forecast-title {
	margin-top: 25px;
	font-size: 45px;
	margin-bottom: 25px;
	padding-bottom: 5px;
	/* border-bottom: solid 3px white; */
	/* width: 300px; */
}

.Clouds {
	background-image: url(https://i.gifer.com/origin/dd/ddedd3a2f4a3995d8cd1a8ab2033c9ce.gif);
	background-size: cover;
}

.Clear {
	background-image: url(https://i.gifer.com/origin/45/454ba38b4ce5b3fdc8796ed710769e69.gif);
	background-size: cover;
}

.Snow {
	background-image: url(https://i.gifer.com/ID2s.gif);
	background-size: cover;
}

.Rain {
	background-image: url(https://i0.wp.com/i.giphy.com/l3vRbEzrEBQJdpdZu.gif);
	background-size: cover;
}

.Drizzle {
	background-image: url(https://i.gifer.com/7sd5.gif);
	background-size: cover;
}

.Thunderstorm {
	background-image: url(https://phoneky.co.uk/thumbs/screensavers/down/new/places/citystorm_JGax8zdT.gif);
	background-size: cover;
}

.forecast-day {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.forecast-day img {
	width: 50px;
	height: 50px;
}
